<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <h3>Welcome To Our EC2 Demo </h3>
    </title>
</head>

<body>
    <div style="color:blue; background-attachment: fixed; width: auto; height: auto;" >
    <h1 style="text-align: center; size: 50px;">Welcome To our Ec2 demo</h1>
    </div>
</body>

</html>