<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <h3>Welcome To Our EC2 Demo </h3>
    </title>
</head>
<script>

</script>

<body style="background-color: #007bff; background-attachment: fixed;">
    <div style="color:black; background-attachment: fixed; width: auto;">
        <h1 style="text-align: center; size: 50px;">Shop Cart</h1>
        <hr style="color : 'black';" />
    </div>
</body>

</html>